/* ========================================
   body
   ======================================== */

.static {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#bgimg1 {
  background-image: url('../images/bg1.jpg');
}

#title1 {
  position: absolute;
  bottom: 20vmin;
}

.titletext {
  color: white;
  font-weight: 1000;
  background-color: rgba(200, 200, 200, 0.5);
  padding: 0px 10px;
  text-align: center;
}

#title1 h1 {
  font-size: 10vmin;
  line-height: 12vmin;
  border-radius: 5px 5px 0px 0px;
}

#title1 h3 {
  font-size: 5vmin;
  line-height: 8vmin;
  border-radius: 0px 0px 5px 5px;
}

#contentwrap1 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content1 {
  width: 80vw;
  max-width: 1500px;
}

.contenthead {
  font-size: 5vmin;
  line-height: 8vmin;
  text-align: center;
  margin-top: 30px;
}

.contentpara {
  font-size: 2.2vmin;
  line-height: 5vmin;
  text-align: justify;
  margin: 40px 0px;
  font-weight: 500;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cta1 {
  margin: 50px 0px;
}

.ctatext {
  font-size: 2.2vmin;
  line-height: 5vmin;
  text-align: center;
  padding: 10px 0px;
  font-weight: 500;

}

#boundingbox1 {
  /*border: 1px solid black;*/
  border-radius: 15px;
  padding: 20px 20px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 20px -15px black;
}

.formelement {
    margin: 10px 0px;
}

.input {
  width: 20vw;
  height: 20px;
  min-width: 200px;
  vertical-align: middle;
  border: none;
  border-bottom: 1px solid black;
}

.input:focus {
  outline: none;
}

.button {
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.footer {
  background-color: #484848;
  padding: 20px 50px;
}

.footer p {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  #content1 {
    width: 50vw;
  }

  #boundingbox1 {
    padding: 20px 100px;
  }
}

@media screen and (min-width: 1440px) {
  #content1 {
    width: 40vw;
  }

  #boundingbox1 {
    padding: 20px 150px;
  }
}

.ani-up-scroll {
  position: relative;
  transform: translateY(100px);
  opacity: 0.1;
  transition: transform 0s ease-out 0s,
              opacity 0s linear 0s;
}

.ani-up {
  transform: translateY(0px);
  opacity: 1;
  transition: transform 1s ease-out 0s,
              opacity 1s linear 0s;

}
